*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
section{
    max-width: 80%;
    
    padding: 34px;
    margin: 23px;
    margin: auto;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    font-size: 17px;
}
section h2{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size:40px;
}
p{
    font-size:17px;
}
input,textarea{
    display:block;
  width:80% ;
  margin: 10px;
  padding: 7px;
  font-size: 16px;
border: 2px solid black;
border-radius: 15px;
outline:none;
}
form{
    display:flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
}
.btn{
    color:white;
    background-color: blueviolet;
    padding:15px 10px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 10px;
}
.btn:hover{
    background-color:brown;
}